.body{
    background-color: #6B4F4F;
}
.neg-margin-1{
    margin-left:-12px!important;
    background-color:#EED6C4!important;
}
.bg-nav{
    background-color: #FFF3E4;
}
.text-paltet{
    color: #483434;
}
.btn-outline-pallet{
    border: 1px solid #6B4F4F;
    background-color: #EED6C4;
}
.body-height{
    height: 12000px;

}
.bg-fix{
    position: sticky;
    top: 0px;
    height: 600px;
}
.page-design{
    background-image: linear-gradient(to right,#483434,#2c1f1f, #483434 );
}
.pointer{
    cursor: pointer;
}
.pointer-2{
    cursor: pointer;
    padding:5px 46px;

}
.pointer-2:hover{
    
    box-shadow: 0 0 10px black;
    border-radius: 20px;
}
.pannel-text{
    font-size: 15px;
    font-weight: 500;
}
.bg-darkest{
    background-color: #483434!important;
}
.text-smoothest{
    color: #FFF3E4;
}

#underConstruction{
    position: absolute;
    background-color: #2c1f1f;
    height: 1000px;
    padding-top: 150px;
}

  
  /* The element to apply the animation to */

